$colorPrimary:#1a1a1a;
$darkcolor:#000;
$color3:#2d2d2d;
$color1:#1164fe;
$color4:#3c86ff;
$lightColor:#feffff;
$font:Arial, Helvetica, sans-serif;
$transition1:0.3s;
$transition2:0.4s;
$transition3:0.5s;
header{
    width: 100%;
    height: 40px;
    display: flex;
    background: $colorPrimary;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    .logo{
        display: flex;
        margin-left: 16px;
        align-items: center;
        justify-content: center;
        width: 100px;
        img{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 8px;
            cursor: pointer;
        }
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            color: $lightColor;
            font-size: 18px;
            font-family: $font;
            cursor: pointer;
        }
    }

    ul{
        list-style: none;
        display: flex;
        height: 100%;
        align-items: center;
        margin-right: 16px;
        justify-content: center;
        width: calc(100%-100px);
        justify-content: space-around;
        li{ 
            cursor: pointer;
            margin-left: 16px;
            a{
                color: $lightColor;
                font-family: $font;
            }
            &:nth-child(1),
            &:nth-child(2){
                color: $lightColor;
                font-family: $font;               
                transition: all $transition2 ease;
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover{
                    color:$color1;
                    border-bottom: 2px solid $color1;
                }
            }
            &:nth-child(4){
                margin-left: 26px;
                margin-right: 4px;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 30px;
                width: 80px;
                transition: $transition2;
                &:hover{
                    border: 2px $color1 solid;
                    color: $color1;
                    border-radius: 8px;
                    height: 30px;
                    width: 80px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            &:nth-child(5){
                border: 2px $lightColor solid;
                border-radius: 8px;
                height: 30px;
                width: 80px;
                display: flex;
                align-items: center;
                transition: all $transition2 ease ;
                justify-content: center;
                &:hover{
                    border: 2px $color1 solid;
                    color: $color1;
                }
            }
        }
    }
}